$banner-color: #444444;
$banner-height: 93px;

$navigation-width: 270px;

* {
  font-family: 'Roboto'; 
  box-sizing: border-box;
}
html, body { 
  margin: 0; 
  height: 100%;
}

.banner {
  background-color: $banner-color;
  color: white;
  padding: 15px;
  height: $banner-height;
  .title {
    margin: 0;
    font-weight: 500;
  }
  .status {
    * { vertical-align: middle; }
    .icon { margin-right: 5px; }
  }
}

.navigation {
  display: block;
  background-color: #F6F6F6;
  height: calc(100% - #{$banner-height});
  width: $navigation-width;
  border: 1px solid #D3D3D3;
}