doctype html
html(lang="en")
  - var titleText = data.config.name || "RaspberryCAN"

  head
    title #{titleText}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta#page-meta(name=data.page)
    script(src='/bundle.js')
  body
    include components/banner

    div#content
      h1= data.page
      block content

    include components/navigation
