extends layout

mixin card()
  div.card
    span.title SOC_PERCENT
    span.value 80.50

block content
  p This page displays all the available metrics of the vehicle.
  div#metrics(class="layout-grid")
